extends layout

block content
  div Web Servers
    ul
      li BiskQA
      li Contingency-DEV
      li Contingency-QA
      li Contingency-STG
      li Contingency
        ul
          li \\contingency\c$
          li \\contingency\e$
      li TPA2-web-24QA
      li TPA2-web-24STG
      li TPA2-web-24A
      li TPA-WEB-10QA
      li TPA-WEB-10STAGE
      li TPA-WEB-10A
  div Web Services
    ul
      li http://qa-webservice.bisk.com/Bisk.webservices.registration/studentregistration.asmx
      li \\tpa2-web-24qa\e$\Inetpub\wwwroot\qa-webservice.bisk.com\Bisk.WebServices.Registration
      li http://qa-webservice.bisk.com/Bisk.webservices.registration.villanova/studentregistration.asmx
      li \\tpa2-web-24qa\e$\Inetpub\wwwroot\qa-webservice.bisk.com\Bisk.WebServices.Registration.Villanova
    ul
      li \\contingency\e$\inetpub\wwwroot\webservices.apps.corp.bisk.com
      li
        Bisk.Webservices.Registration (Windows Service JU - MSU)
        ------------------------------------------------------------------------------------------------------------------------------------------
        Folder Path: \\biskqa\c$\Program Files\BISK\Bisk.Console.Registration\

        Bisk.Webservices.Registration (Web Service - * all others)
        ------------------------------------------------------------------------------------------------------------------------------------------
        URL: http://qa-webservice.bisk.com/Bisk.webservices.registration/studentregistration.asmx
        Folder Path: \\tpa2-web-24qa\e$\Inetpub\wwwroot\qa-webservice.bisk.com\Bisk.WebServices.Registration

        Bisk.WebServices.Registration.Villanova (Web Service)
        ------------------------------------------------------------------------------------------------------------------------------------------
        URL: http://qa-webservice.bisk.com/Bisk.webservices.registration.villanova/studentregistration.asmx
        Folder Path: \\tpa2-web-24qa\e$\Inetpub\wwwroot\qa-webservice.bisk.com\Bisk.WebServices.Registration.Villanova

        Bisk.WebServices.Partner.FIT (Web Service)
        ------------------------------------------------------------------------------------------------------------------------------------------
        URL: http://qa.webservices.corp.bisk.com/Bisk.Webservices.Partner.FIT/RegistrationEventReceiveHandler.asmx
        Folder Path: \\contingency-qa\e$\inetpub\wwwroot\qa.webservices.corp.bisk.com\Bisk.WebServices.Partner.FIT

        RegistrationReprocess (Windows Service)
        ------------------------------------------------------------------------------------------------------------------------------------------
        Folder Path: \\contingency-qa\e$\inetpub\wwwroot\qa.webservices.corp.bisk.com\Bisk.WebServices.Partner.FIT\Reprocess

        CRMIntegration (Web Service)
        URL: http://qa.webservices.corp.bisk.com/CRMIntegration/ContactEnrollmentService.asmx
        Folder Path: \\contingency-qa\e$\inetpub\wwwroot\qa.webservices.corp.bisk.com\CRMIntegration

        
        Google: https://www.google.com/adwords/

        Username: marketing-analysis@bisk.com
        Password: bisk-analysts2015

        Bing: Id: is-dba@bisk.com
        Password: H3ll0W0rld

        Mulesoft documentation
        https://bisked.sharepoint.com/AppDev/EnrollmentTech/SitePages/Home.aspx?RootFolder=%2FAppDev%2FEnrollmentTech%2FShared%20Documents%2FMulesoft%2FInstall%20Instructions&FolderCTID=0x012000B59D3DB1ED914645AFEAD8D4B97F7225&View=%7B6C8581DF-7F28-44BB-9FAB-83426E9AE3B4%7D

      