extends layout

block content
  h3 Primary Sites
    ul
      li
        a(href="https://www.bisk.com/") Bisk.com
    ul
      li
        a(href="https://careers.bisk.com/") Careers
    ul dev
      li 
        a(href="https://fltechonline-com-dev.herokuapp.com/") Florida Tech Online
      li
        a(href="https://jacksonvilleu-dev.herokuapp.com/") Jacksonville
      li
        a(href="https://newenglandcollege-dev.herokuapp.com/") New England College
    ul qa
      li
        a(href="https://fltechonline-com-qa.herokuapp.com/") Florida Tech Online
      li
        a(href="https://jacksonvilleu-qa.herokuapp.com/") Jacksonville
      li
        a(href="https://newenglandcollege-qa.herokuapp.com/") New England College
    ul staging/uat
      li
        a(href="https://floridatechonline-com-staging.herokuapp.com/") Florida Tech Online
      li
        a(href="https://jacksonvilleu-staging.herokuapp.com/") Jacksonville
      li
        a(href="https://newenglandcollege-staging.herokuapp.com/") New England College
    ul prod
      li                    
        a(href="https://www.floridatechonline.com/") Florida Tech Online
      li
        a(href="https://www.jacksonvilleu.com/") Jacksonville
      li
        a(href="https://www.newenglandcollegeonline.com/") New England College
  h3 UX Frontend
    ul
      li 
        a(href="https://ux-frontend.herokuapp.com/") UX Frontend
  h3 Heroku
    ul
      li
        a(href="https://dashboard.heroku.com/orgs/bisk-840/apps") Heroku
  h3 Github
    ul
      li        
        a(href="https://github.com/Bisk/") Github
  h3 Umbraco
    ul Umbraco 7
      li
        a(href="http://admin.umbraco7.bisk.com/umbraco") Umbraco7 - Prod (admin)
      li
        a(href="https://s7.bisk.com/umbraco") Umbraco7 - Staging 
      li
        a(href="https://s7.bisk.com/umbraco") Umbraco7 - Dev
    ul Umbraco 6
      li
        a(href="http://umbraco6.cms.universityalliance.com/umbraco/") Umbraco6 - Prod
      li
        a(href="http://s6.universityalliance.com/umbraco") Umbraco6 - Staging
      li
        a(href="http://d6.universityalliance.com/umbraco") Umbraco6 - Dev
      li Umbraco6 Prod non replicated file directory (Windows): \\TPA-WEB-01a\wwwroot$
    ul Maintenance Mode
      li
        a(href="http://mmumbraco6.cms.universityalliance.com/") Umbraco Maintenance Mode
  h3 TFS
    ul
      li
        a(href="http://tfs.apps.corp.bisk.com/tfs/DefaultCollection/Bisk/_dashboards") TFS
  h3 Salesforce
    ul
      li
        a(href="https://bisk.my.salesforce.com/console") Salesforce - Prod
      li
        a(href="https://bisk--skywayuat.cs59.my.salesforce.com/") Salesforce - UAT
      li
        a(href="https://bisk--atlas.cs53.my.salesforce.com/") Salesforce - Atlas
      li
        a(href="https://bisk--dev.cs52.my.salesforce.com/") Salesforce - Dev
    ul Agile Accelerator
      li
        a(href="https://bisk.my.salesforce.com/a1c/o") Agile Accelerator       
  h3 Trello
    ul
      li
        a(href="https://trello.com/") Trello
  h3 Instapage
    ul
      li
        a(href="www.instapage.com") Instapage
  h3 Marketo
    ul
      li
        a(href="https://app-ab16.marketo.com/") Marketo
    ul Marketo Agile Accelerator
      li
        a(href="https://bisk.my.salesforce.com/a1c?fcf=00B610000049p1V") Marketo Agile Accelerator Board
  h3 Analytics
    ul
      li
  h3 IntercomIO
    ul
      li
        a(href="https://www.intercom.com/") IntercomIO
  h3 Other
    ul
      li
        a(href="https://www.tampabayfoodtruckrally.com/bisk-education") Food Truck
    ul
      li
        a(href="https://www.vidyard.com/") Vidyard
