extends layout

block content
  BiskQA
  Contingency-DEV
  Contingency-QA
  Contingency-STG
  Contingency
  TPA2-web-24QA
  TPA2-web-24STG
  TPA2-web-24A
  TPA-WEB-10QA
  TPA-WEB-10STAGE
  TPA-WEB-10A
          

  URL: http://qa-webservice.bisk.com/Bisk.webservices.registration/studentregistration.asmx
  Folder Path: \\tpa2-web-24qa\e$\Inetpub\wwwroot\qa-webservice.bisk.com\Bisk.WebServices.Registration

  URL: http://qa-webservice.bisk.com/Bisk.webservices.registration.villanova/studentregistration.asmx
  Folder Path: \\tpa2-web-24qa\e$\Inetpub\wwwroot\qa-webservice.bisk.com\Bisk.WebServices.Registration.Villanova

