doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script.
      mktoTokens = {};
    script(src='//app-ab16.marketo.com/js/forms2/js/forms2.min.js')
    script(type='text/javascript' src='/javascripts/mkto/lib.js')
    script(type="text/javascript" src="/javascripts/mkto/tests/helpers.js")    
    script(type='text/javascript' src='/javascripts/mkto/multistep.js')  
    h2 mode: #{config.mode}, minchkin: #{mktoConfig.munchkin_id}
    block content