extends ../../layout
 
block content
    div
        p Use Case:
        ul
            li Will return matching mkto lead property name for each salesforce id in array
    div
        form.ignoreForm(id="namesForm")
            div
                input(type="text", name="sfid" placeholder="salesforce value")
                button(type="button", onclick="javascript:addNewRow()") add another input
        div
            button(type="button", id="submit") submit
        br
        div(id="response") response
    script(src="/javascripts/umbraco/lib.js")
    script.
        function addNewRow(e) {
            var newRow = event.currentTarget.parentNode.cloneNode(true);
            newRow.querySelectorAll('input')[0].value = '';
            event.currentTarget.parentNode.parentNode.appendChild(newRow);
        }
        function postForm() {
            postData = [];
            var fields = document.querySelectorAll('#namesForm input');
            for (var i = 0; i < fields.length; i++) {
                postData.push(fields[i].value);
            }
            document.getElementById('response').innerText = 'request sent...';                                                    
            umbraco.resolveNames(postData, function (data) {
                document.getElementById('response').innerText = data.currentTarget.response;
            })
        }
        (function() {
            document.getElementById('submit').addEventListener('click', postForm);
        }());