doctype html
html
  head
    meta(name='robots', content='noindex, nofollow')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title FT - Psychology
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='article')
    meta(property='og:title', content='Your Home is Your Campus')

    meta(property='og:site_name', content='Your Home is Your Campus')
    meta(property='og:url', content='http://explore.floridatechonline.com/lp-psychology')
    // font injector
    link(type='text/css', rel='stylesheet', media='screen, print', href='https://v.fastcdn.co/f/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic')
    // end
    style(type='text/css', media='screen').
      .page-element .btn,
      .page-element .contents,
      .page-element.widget-form form,
      .page-element.widget-form form input,
      .page-element.widget-form form textarea,
      .page-element.widget-form form select,
      .page-element.widget-form form label
      {
      font-family: Lato;
      font-weight: 400;
      }
      .page-element.widget-headline .contents h1,
      .page-element.widget-headline .contents h2,
      .page-element.widget-headline .contents h3,
      .page-element.widget-headline .contents h4,
      .page-element.widget-headline .contents h5,
      .page-element.widget-headline .contents h6
      {
      font-family: Lato;
      font-weight: 700;
      }
      [id^=___plusone] { width:51px !important; }
      div.social.lines [id^=___plusone] { width:62px !important; }
      div.social.lines span[class^=IN-widget] { min-width:70px !important; }
      div.social.buttons [id^=___plusone] { width:36px !important; }
      div.social.buttons div[class^=fb-like] { width:58px !important; }
      div.social.tiles [id^=___plusone] { height:63px !important; margin-top: 2px !important; }
      div.social.tiles .fb-like iframe { margin-top: 1px !important; }
      .widget-testimonial.style-1 .contents div.testimonial-text
      {
      margin-top: 0;
      }
      @media screen and (max-width: 768px)
      {
      .notification > .notification-inner
      {
      width: auto;
      position: fixed;
      top: 40%;
      left: 1em !important;
      right: 1em !important;
      font-size: 24px;
      }
      }
      /* Safari only fix */
      @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
      {
      .widget-form .select-outer select
      {
      padding-left: 10px;
      }
      .widget-form.mobile-form .select-outer select
      {
      padding-left: 10px;
      }
      }}
    link(rel='stylesheet', type='text/css', href='https://v.fastcdn.co/a/483/031a761e2b05d2bed213fd1f07412755.css', media='screen')
    script(type='text/javascript', src='https://v.fastcdn.co/a/483/a5cb880a745154a6a1a45f3465215dfd.js')
    meta#mobile-viewport(name='viewport', content='width=device-width, initial-scale=1.0')
    script.instapage-noscrap(type='text/javascript').
      var ijQuery = jQuery.noConflict(true);
    script.instapage-noscrap(type='text/javascript').
      var $ = ijQuery;
      var jQuery = ijQuery;
      window.__page_id = 5755156;
      window.__version = 21;
      window.__variant = 'A';
      window.__is_tablet = false;
      window.__page_domain = '//explore.floridatechonline.com';
      window.__instapage_services = '//app.instapage.com';
      window.__instapage_proxy_services = 'PROXY_SERVICES';
      window.__preview = false;
      window.__facebook = false;
      window.__page_type = 2;
      window.__mobile_version = 2;
      window.__variant_hash = "cb6bc17c8ea365c0627006782475368abc8f910a";
      var page_version = 21;
      var _Translate = new Translate();
      if( ijQuery === 'undefined' )
      {
      var ijQuery = jQuery;
      }
      ijQuery(document).ready(function()
      {
      window._Mobile_helper = new MobileHelper();
      window._Mobile_helper.initViewport( 960, true );
      try
      {
      ijQuery('input, textarea').placeholder();
      }
      catch( e )
      {
      }
      });
      ijQuery( window ).load( function()
      {
      var notification_loader;
      ijQuery( 'body' ).hide().show();
      notification_loader = ijQuery( '.notification-loader' );
      notification_loader.attr( 'src', notification_loader.attr( 'rel' ) );
      });
      _Translate.set( "Problem loading google map", "Problem loading google map" );
      is_new_mobile_visible = function()
      {
      if( !window.matchMedia )
      {
      return false;
      }
      return window.matchMedia('screen and (max-width: 620px), screen and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5)').matches;
      }
    style(type='text/css').
      html
      {
      height: 100%;
      };
    script(type='text/javascript').
      setTimeout(function()
      {
      "use strict";
      try
      {
      var body = document.body;
      var html = document.documentElement;
      var height = Math.max( body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight );
      html.style.setProperty( 'height', height + 'px' );
      }
      catch( e )
      {
      }
      }, 1 );
    style(type='text/css').
      body
      {
      background-color: #ffffff;
      background-position: center bottom;
      background-repeat: repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }
      .page .page-block .block-inner { background-color: transparent; }
    style(type='text/css').
      #element-447
      {
      height: 160px;
      width: 376px;
      left: 555px;
      top: 165px;
      z-index: 3;
      }
      #element-446
      {
      height: 428px;
      width: 378px;
      left: 554px;
      top: -52px;
      z-index: 4;
      }
      #element-481
      {
      height: 471px;
      width: 300px;
      left: 596px;
      top: -23px;
      z-index: 5;
      }
      #element-359
      {
      height: 24px;
      width: 69px;
      left: 264px;
      top: 41px;
      z-index: 6;
      }
      #element-359 p, #element-359 ul, #element-359 ol, #element-359 h1
      {
      font-size: 18px;
      color: rgb(0, 0, 0);
      line-height: 25px;
      text-align: left;
      }
      #element-367
      {
      height: 104px;
      width: 480px;
      left: 325px;
      top: 20px;
      z-index: 7;
      }
      #element-367 p, #element-367 ul, #element-367 ol, #element-367 h1
      {
      font-size: 38px;
      color: rgb(255, 255, 255);
      line-height: 53px;
      text-align: left;
      }
      #element-371
      {
      height: 60px;
      width: 400px;
      left: 33px;
      top: 30px;
      z-index: 8;
      }
      #element-371 p, #element-371 ul, #element-371 ol, #element-371 h1
      {
      font-size: 22px;
      color: rgb(0, 0, 0);
      line-height: 31px;
      text-align: left;
      }
      #element-377
      {
      height: 301px;
      width: 498px;
      left: 25px;
      top: 90px;
      z-index: 9;
      }
      #element-377 p, #element-377 ul, #element-377 ol, #element-377 h1
      {
      font-size: 16px;
      color: rgb(58, 58, 58);
      line-height: 26px;
      text-align: left;
      }
      #element-388
      {
      height: 18px;
      width: 199px;
      left: 570px;
      top: 264px;
      z-index: 10;
      }
      #element-388 p, #element-388 ul, #element-388 ol, #element-388 h1
      {
      font-size: 13px;
      color: rgb(255, 255, 255);
      line-height: 18px;
      text-align: left;
      }
      #element-389
      {
      height: 24px;
      width: 199px;
      left: 570px;
      top: 283px;
      z-index: 11;
      }
      #element-389 p, #element-389 ul, #element-389 ol, #element-389 h1
      {
      font-size: 18px;
      color: rgb(255, 255, 255);
      line-height: 25px;
      text-align: left;
      }
      #element-399
      {
      height: 140px;
      width: 390px;
      left: 34px;
      top: 458px;
      z-index: 12;
      }
      #element-399 p, #element-399 ul, #element-399 ol, #element-399 h1
      {
      font-size: 15px;
      color: rgb(58, 58, 58);
      line-height: 24px;
      text-align: left;
      }
      #element-400
      {
      height: 47px;
      width: 100px;
      left: 307px;
      top: 344px;
      z-index: 13;
      }
      #element-400 p, #element-400 ul, #element-400 ol, #element-400 h1
      {
      font-size: 15px;
      color: rgb(186, 186, 186);
      line-height: 24px;
      text-align: left;
      }
      #element-402
      {
      height: 47px;
      width: 122px;
      left: 307px;
      top: 263px;
      z-index: 14;
      }
      #element-402 p, #element-402 ul, #element-402 ol, #element-402 h1
      {
      font-size: 15px;
      color: rgb(186, 186, 186);
      line-height: 24px;
      text-align: left;
      }
      #element-407
      {
      height: 47px;
      width: 110px;
      left: 92px;
      top: 344px;
      z-index: 15;
      }
      #element-407 p, #element-407 ul, #element-407 ol, #element-407 h1
      {
      font-size: 15px;
      color: rgb(186, 186, 186);
      line-height: 24px;
      text-align: left;
      }
      #element-408
      {
      height: 47px;
      width: 157px;
      left: 92px;
      top: 263px;
      z-index: 16;
      }
      #element-408 p, #element-408 ul, #element-408 ol, #element-408 h1
      {
      font-size: 15px;
      color: rgb(186, 186, 186);
      line-height: 24px;
      text-align: left;
      }
      #element-409
      {
      height: 40px;
      width: 40px;
      left: 252px;
      top: 264px;
      z-index: 17;
      }
      #element-412
      {
      height: 40px;
      width: 40px;
      left: 252px;
      top: 344px;
      z-index: 18;
      }
      #element-414
      {
      height: 451px;
      width: 489px;
      left: 480px;
      top: 0px;
      z-index: 19;
      }
      #element-440
      {
      height: 60px;
      width: 463px;
      left: 249px;
      top: 40px;
      z-index: 20;
      }
      #element-440 p, #element-440 ul, #element-440 ol, #element-440 h1
      {
      font-size: 22px;
      color: rgb(0, 0, 0);
      line-height: 31px;
      text-align: center;
      }
      #element-448
      {
      height: 67px;
      width: 349px;
      left: 570px;
      top: 179px;
      z-index: 21;
      }
      #element-448 p, #element-448 ul, #element-448 ol, #element-448 h1
      {
      font-size: 24px;
      color: rgb(0, 0, 0);
      line-height: 34px;
      text-align: left;
      }
      #element-464
      {
      height: 24px;
      width: 368px;
      left: 294px;
      top: 47px;
      z-index: 22;
      }
      #element-464 p, #element-464 ul, #element-464 ol, #element-464 h1
      {
      font-size: 18px;
      color: rgb(202, 202, 202);
      line-height: 25px;
      text-align: center;
      }
      #element-465
      {
      height: 20px;
      width: 588px;
      left: 182px;
      top: 100px;
      z-index: 23;
      }
      #element-465 p, #element-465 ul, #element-465 ol, #element-465 h1
      {
      font-size: 15px;
      color: rgb(123, 123, 123);
      line-height: 21px;
      text-align: center;
      }
      #element-469
      {
      height: 48px;
      width: 329px;
      left: 306px;
      top: 251px;
      z-index: 24;
      }
      #element-470
      {
      height: 109px;
      width: 370px;
      left: 286px;
      top: 115px;
      z-index: 25;
      }
      #element-470 p, #element-470 ul, #element-470 ol, #element-470 h1
      {
      font-size: 16px;
      color: rgb(0, 0, 0);
      line-height: 22px;
      text-align: left;
      }
      #element-486
      {
      height: 61px;
      width: 213px;
      left: 36px;
      top: 23px;
      z-index: 26;
      }
      #element-495
      {
      height: 30px;
      width: 400px;
      left: 30px;
      top: 32px;
      z-index: 27;
      }
      #element-495 p, #element-495 ul, #element-495 ol, #element-495 h1
      {
      font-size: 22px;
      color: rgb(0, 0, 0);
      line-height: 31px;
      text-align: left;
      }
      #element-496
      {
      height: 70px;
      width: 890px;
      left: 30px;
      top: 78px;
      z-index: 28;
      }
      #element-496 p, #element-496 ul, #element-496 ol, #element-496 h1
      {
      font-size: 15px;
      color: rgb(87, 87, 87);
      line-height: 24px;
      text-align: left;
      }
      #element-501
      {
      height: 58px;
      width: 340px;
      left: 578px;
      top: 306px;
      z-index: 29;
      }
      #element-501 p, #element-501 ul, #element-501 ol, #element-501 h1
      {
      font-size: 11px;
      color: rgb(131, 131, 131);
      line-height: 15px;
      }
      #element-511
      {
      height: 48px;
      width: 48px;
      left: 32px;
      top: 263px;
      z-index: 30;
      }
      #element-512
      {
      height: 49px;
      width: 49px;
      left: 29px;
      top: 343px;
      z-index: 31;
      }
      #element-515
      {
      height: 137px;
      width: 368px;
      left: 550px;
      top: 434px;
      z-index: 32;
      }
      #element-516
      {
      height: 30px;
      width: 400px;
      left: 34px;
      top: 419px;
      z-index: 33;
      }
      #element-516 p, #element-516 ul, #element-516 ol, #element-516 h1
      {
      font-size: 22px;
      color: rgb(0, 0, 0);
      line-height: 31px;
      text-align: left;
      }
      #element-517
      {
      height: 140px;
      width: 390px;
      left: 34px;
      top: 64px;
      z-index: 34;
      }
      #element-517 p, #element-517 ul, #element-517 ol, #element-517 h1
      {
      font-size: 15px;
      color: rgb(58, 58, 58);
      line-height: 24px;
      text-align: left;
      }
      #element-518
      {
      height: 30px;
      width: 400px;
      left: 34px;
      top: 25px;
      z-index: 35;
      }
      #element-518 p, #element-518 ul, #element-518 ol, #element-518 h1
      {
      font-size: 22px;
      color: rgb(255, 255, 255);
      line-height: 31px;
      text-align: left;
      }
      #element-519
      {
      height: 30px;
      width: 463px;
      left: 249px;
      top: 22px;
      z-index: 36;
      }
      #element-519 p, #element-519 ul, #element-519 ol, #element-519 h1
      {
      font-size: 22px;
      color: rgb(0, 0, 0);
      line-height: 31px;
      text-align: center;
      }
      #element-521
      {
      height: 383px;
      width: 422px;
      left: 33px;
      top: 80px;
      z-index: 37;
      }
      #element-521 p, #element-521 ul, #element-521 ol, #element-521 h1
      {
      font-size: 16px;
      color: rgb(0, 0, 0);
      line-height: 26px;
      text-align: left;
      }
      #element-522
      {
      height: 342px;
      width: 384px;
      left: 539px;
      top: 121px;
      z-index: 38;
      }
      #element-522 p, #element-522 ul, #element-522 ol, #element-522 h1
      {
      font-size: 20px;
      color: rgb(131, 131, 131);
      line-height: 32px;
      text-align: left;
      }
      #page-block-p023hbpmylhpcqaf4b4fjq0k9 { height: 99px; }
      #page-block-p023hbpmylhpcqaf4b4fjq0k9 .border-holder
      {
      background-image: none;
      background-color: transparent;
      background-repeat: repeat;						background-position: top left;
      background-size:cover;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 99px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page-block-p023hbpmylhpcqaf4b4fjq0k9 .color-overlay
      {
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0 auto;
      background-color: rgba(0,0,0,0);
      opacity: 0.5;
      }
      #page-block-p023hbpmylhpcqaf4b4fjq0k9 .block-inner
      {
      margin-top: 0px;
      }
      #page-block-rqa2vx22t4b8jgvaqaz2maemi { height: 377px; }
      #page-block-rqa2vx22t4b8jgvaqaz2maemi .border-holder
      {
      background-image: url("https://v.fastcdn.co/u/2d746943/16291546-0-f-ftuo-degree-smilin.jpg");
      background-color: #f2f2f2;
      background-repeat: no-repeat;						background-position: center top;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 377px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page-block-rqa2vx22t4b8jgvaqaz2maemi .color-overlay
      {
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0 auto;
      background-color: transparent;
      opacity: 0.62650602409639;
      }
      #page-block-rqa2vx22t4b8jgvaqaz2maemi .block-inner
      {
      margin-top: 0px;
      }
      #page-block-q1u0lw0ao5iwc9dfkfn7b9 { height: 634px; }
      #page-block-q1u0lw0ao5iwc9dfkfn7b9 .border-holder
      {
      background-image: none;
      background-color: #ffffff;
      background-repeat: repeat;						background-position: top left;
      background-size:cover;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      width: 960px;
      margin: 0 auto;
      border-width: 0px;
      height: 634px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page-block-q1u0lw0ao5iwc9dfkfn7b9 .color-overlay
      {
      width: 960px;
      left: 0;
      right: 0;
      height: 100%;
      position: absolute;
      margin: 0 auto;
      background-color: rgba(0,0,0,0);
      opacity: 0.5;
      }
      #page-block-q1u0lw0ao5iwc9dfkfn7b9 .block-inner
      {
      margin-top: 0px;
      margin-left: 0px;
      }
      #page-block-3nuexm7ayqyv6g16i081xde7b9 { height: 439px; }
      #page-block-3nuexm7ayqyv6g16i081xde7b9 .border-holder
      {
      background-image: none;
      background-color: #f2f2f2;
      background-repeat: repeat;						background-position: top left;
      background-size:cover;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 439px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page-block-3nuexm7ayqyv6g16i081xde7b9 .color-overlay
      {
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0 auto;
      background-color: rgba(0,0,0,0);
      opacity: 0.5;
      }
      #page-block-3nuexm7ayqyv6g16i081xde7b9 .block-inner
      {
      margin-top: 0px;
      }
      #page_block_footer { height: 451px; }
      #page_block_footer .border-holder
      {
      background-image: none;
      background-color: #3a3a3a;
      background-repeat: no-repeat;						background-position: center bottom;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 451px;
      background-attachment: fixed;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page_block_footer .color-overlay
      {
      }
      #page_block_footer .block-inner
      {
      margin-top: 0px;
      }
      #page_block_below_fold { height: 502px; }
      #page_block_below_fold .border-holder
      {
      background-image: none;
      background-color: #ffffff;
      background-repeat: no-repeat;						background-position: center top;
      background-size:auto auto;
      -webkit-background-size:auto auto;
      -moz-background-size:auto auto;
      -o-background-size:auto auto;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 502px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page_block_below_fold .color-overlay
      {
      }
      #page_block_below_fold .block-inner
      {
      margin-top: 0px;
      }
      #page-block-a9uzf8dm0c0kuv885wwtmaemi { height: 350px; }
      #page-block-a9uzf8dm0c0kuv885wwtmaemi .border-holder
      {
      background-image: none;
      background-color: #f2f2f2;
      background-repeat: repeat;						background-position: top left;
      background-size:cover;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 350px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page-block-a9uzf8dm0c0kuv885wwtmaemi .color-overlay
      {
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0 auto;
      background-color: rgba(0,0,0,0);
      opacity: 0.5;
      }
      #page-block-a9uzf8dm0c0kuv885wwtmaemi .block-inner
      {
      margin-top: 0px;
      }
      #page-block-mokjsqvubit3xr { height: 150px; }
      #page-block-mokjsqvubit3xr .border-holder
      {
      background-image: none;
      background-color: #202020;
      background-repeat: repeat;						background-position: center top;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 150px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page-block-mokjsqvubit3xr .color-overlay
      {
      }
      #page-block-mokjsqvubit3xr .block-inner
      {
      margin-top: 0px;
      }
      @media
      screen and (max-width: 620px),
      screen and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5) and ( max-device-width: 1280px ) and (max-device-height: 720px),
      screen and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5) and ( max-device-width: 1000px )
      {
      body
      {
      min-width: 400px;
      width: 100%;
      }
      .page.page2
      {
      width: 100%;
      }
      .page.page2 .block-inner
      {
      width: 400px;
      margin: 0 auto;
      }
      .page.page2.new-mobile-preview .block-inner
      {
      width: auto;
      }
      .widget-form .field-checkbox .field-element label:before,
      .widget-form .field-radio .field-element label:before
      {
      top: 16px;
      }
      .widget-form .field-checkbox .field-element label:after
      {
      top: 21px;
      }
      .widget-form .field-radio .field-element label:after
      {
      top: 16px;
      }
      .widget-form .select-outer
      {
      overflow: hidden;
      margin-bottom: 8px;
      margin-top: 8px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      }
      .widget-form .select-outer select
      {
      width: calc( 100% - 1px );
      height: 56px;
      border: 0;
      margin: 0;
      -webkit-appearance: none;
      line-height: 30px;
      border-style: solid;
      border-width: 1px;
      background-image: url( 'https://v.fastcdn.co/a/1488288753_select-arrow-drop-down.png' );
      background-position: right;
      background-repeat: no-repeat;
      }
      .widget-form .form-input[type="text"],
      .widget-form .form-input[type="password"],
      .widget-form .form-input[type="email"],
      .widget-form textarea.form-input
      {
      padding-top: 12px;
      padding-bottom: 9px;
      font-size: 20px;
      line-height: 22px;
      height: 56px;
      -webkit-appearance: none;
      }
      .widget-form .label-outside,
      .widget-form .outside-top,
      .widget-form .field-element label
      {
      font-size: 20px;
      line-height: 22px;
      padding-top: 12px;
      padding-bottom: 9px;
      }
      .widget-form select
      {
      font-size: 20px;
      height: 56px;
      padding-left: 9px;
      width: calc( 100% + 2px );
      -moz-padding-start: 5px;
      }
      .widget-form .input-holder.field-checkbox > label.outside-top,
      .widget-form .input-holder.field-radio > label.outside-top,
      .widget-form .field-container.edit.field-checkbox > label.label-outside,
      .widget-form .field-container.edit.field-radio > label.label-outside
      {
      margin-top: 8px;
      margin-bottom: 2px;
      }
      .widget-form .form-option-element label,
      .widget-form .field-element label
      {
      font-size: 20px;
      line-height: 22px;
      padding-bottom: 0;
      margin-bottom: 0px;
      }
      .new_mobile .widget-form textarea.form-input.shortnice
      {
      height: 56px;
      }
      #element-486
      {
      height: 51.55px;
      width: 180px;
      left: 58px;
      top: 18px;
      z-index: 26;
      }
      #element-359
      {
      height: 23px;
      width: 70px;
      left: 253px;
      top: 32px;
      z-index: 6;
      }
      #element-359 p, #element-359 ul, #element-359 ol, #element-359 h1
      {
      font-size: 17px;
      color: rgb(0, 0, 0);
      line-height: 24px;
      text-align: left !important;
      }
      #element-367
      {
      height: 69px;
      width: 358px;
      left: 20px;
      top: 68px;
      z-index: 7;
      }
      #element-367 p, #element-367 ul, #element-367 ol, #element-367 h1
      {
      font-size: 28px;
      color: rgb(255, 255, 255);
      line-height: 35px;
      text-align: center !important;
      }
      #element-447
      {
      height: 222px;
      width: 360px;
      left: 20px;
      top: 52px;
      z-index: 3;
      }
      #element-448
      {
      height: 51px;
      width: 320px;
      left: 39px;
      top: 155px;
      z-index: 21;
      }
      #element-448 p, #element-448 ul, #element-448 ol, #element-448 h1
      {
      font-size: 22px;
      color: rgb(0, 0, 0);
      line-height: 26px;
      text-align: center !important;
      }
      #element-388
      {
      height: 18px;
      width: 156px;
      left: 122px;
      top: 221px;
      z-index: 10;
      }
      #element-388 p, #element-388 ul, #element-388 ol, #element-388 h1
      {
      font-size: 13px;
      color: rgb(255, 255, 255);
      line-height: 18px;
      text-align: left !important;
      }
      #element-389
      {
      height: 24px;
      width: 122px;
      left: 139px;
      top: 238px;
      z-index: 11;
      }
      #element-389 p, #element-389 ul, #element-389 ol, #element-389 h1
      {
      font-size: 18px;
      color: rgb(255, 255, 255);
      line-height: 25px;
      text-align: left !important;
      }
      #element-446
      {
      height: 459px;
      width: 360px;
      left: 20px;
      top: -473px;
      z-index: 4;
      }
      #element-501
      {
      height: 58px;
      width: 340px;
      left: 35px;
      top: -85px;
      z-index: 29;
      }
      #element-501 p, #element-501 ul, #element-501 ol, #element-501 h1
      {
      font-size: 11px;
      color: rgb(131, 131, 131);
      line-height: 15px;
      text-align: left !important;
      }
      #element-481
      {
      height: 543px;
      width: 300px;
      left: 50px;
      top: -450px;
      z-index: 5;
      }
      #element-371
      {
      height: 44px;
      width: 360px;
      left: 25px;
      top: 40px;
      z-index: 8;
      }
      #element-371 p, #element-371 ul, #element-371 ol, #element-371 h1
      {
      font-size: 19px;
      color: rgb(0, 0, 0);
      line-height: 23px;
      text-align: left;
      }
      #element-377
      {
      height: 280px;
      width: 360px;
      left: 20px;
      top: 92px;
      z-index: 9;
      }
      #element-377 p, #element-377 ul, #element-377 ol, #element-377 h1
      {
      font-size: 16px;
      color: rgb(58, 58, 58);
      line-height: 20px;
      text-align: left !important;
      }
      #element-516
      {
      height: 22px;
      width: 360px;
      left: 20px;
      top: 392px;
      z-index: 33;
      }
      #element-516 p, #element-516 ul, #element-516 ol, #element-516 h1
      {
      font-size: 19px;
      color: rgb(0, 0, 0);
      line-height: 23px;
      text-align: left !important;
      }
      #element-515
      {
      height: 132.9px;
      width: 357px;
      left: 20px;
      top: 596px;
      z-index: 32;
      }
      #element-399
      {
      height: 120px;
      width: 360px;
      left: 20px;
      top: 427px;
      z-index: 12;
      }
      #element-399 p, #element-399 ul, #element-399 ol, #element-399 h1
      {
      font-size: 15px;
      color: rgb(58, 58, 58);
      line-height: 20px;
      text-align: left !important;
      }
      #element-495
      {
      height: 20px;
      width: 360px;
      left: 16px;
      top: 26px;
      z-index: 27;
      }
      #element-495 p, #element-495 ul, #element-495 ol, #element-495 h1
      {
      font-size: 18px;
      color: rgb(0, 0, 0);
      line-height: 20px;
      text-align: left !important;
      }
      #element-496
      {
      height: 140px;
      width: 360px;
      left: 17px;
      top: 63px;
      z-index: 28;
      }
      #element-496 p, #element-496 ul, #element-496 ol, #element-496 h1
      {
      font-size: 15px;
      color: rgb(87, 87, 87);
      line-height: 20px;
      text-align: left !important;
      }
      #element-414
      {
      height: 368.92px;
      width: 400px;
      left: -1px;
      top: 0px;
      z-index: 19;
      }
      #element-518
      {
      height: 22px;
      width: 360px;
      left: 20px;
      top: 398px;
      z-index: 35;
      }
      #element-518 p, #element-518 ul, #element-518 ol, #element-518 h1
      {
      font-size: 19px;
      color: rgb(255, 255, 255);
      line-height: 23px;
      text-align: left;
      }
      #element-517
      {
      height: 120px;
      width: 360px;
      left: 19px;
      top: 429px;
      z-index: 34;
      }
      #element-517 p, #element-517 ul, #element-517 ol, #element-517 h1
      {
      font-size: 15px;
      color: rgb(58, 58, 58);
      line-height: 20px;
      text-align: left !important;
      }
      #element-511
      {
      height: 49px;
      width: 49px;
      left: 82px;
      top: 605px;
      z-index: 30;
      }
      #element-408
      {
      height: 47px;
      width: 159px;
      left: 27px;
      top: 662px;
      z-index: 16;
      }
      #element-408 p, #element-408 ul, #element-408 ol, #element-408 h1
      {
      font-size: 15px;
      color: rgb(186, 186, 186);
      line-height: 24px;
      text-align: center !important;
      }
      #element-402
      {
      height: 47px;
      width: 120px;
      left: 232px;
      top: 662px;
      z-index: 14;
      }
      #element-402 p, #element-402 ul, #element-402 ol, #element-402 h1
      {
      font-size: 15px;
      color: rgb(186, 186, 186);
      line-height: 24px;
      text-align: center !important;
      }
      #element-409
      {
      height: 40px;
      width: 40px;
      left: 273px;
      top: 610px;
      z-index: 17;
      }
      #element-512
      {
      height: 49px;
      width: 50.02px;
      left: 266px;
      top: 760px;
      z-index: 31;
      }
      #element-407
      {
      height: 47px;
      width: 110px;
      left: 235px;
      top: 821px;
      z-index: 15;
      }
      #element-407 p, #element-407 ul, #element-407 ol, #element-407 h1
      {
      font-size: 15px;
      color: rgb(186, 186, 186);
      line-height: 24px;
      text-align: center !important;
      }
      #element-412
      {
      height: 40px;
      width: 37.21px;
      left: 88px;
      top: 760px;
      z-index: 18;
      }
      #element-400
      {
      height: 47px;
      width: 100px;
      left: 57px;
      top: 817px;
      z-index: 13;
      }
      #element-400 p, #element-400 ul, #element-400 ol, #element-400 h1
      {
      font-size: 15px;
      color: rgb(186, 186, 186);
      line-height: 24px;
      text-align: center !important;
      }
      #element-519
      {
      height: 22px;
      width: 360px;
      left: 20px;
      top: 40px;
      z-index: 36;
      }
      #element-519 p, #element-519 ul, #element-519 ol, #element-519 h1
      {
      font-size: 19px;
      color: rgb(0, 0, 0);
      line-height: 23px;
      text-align: center;
      }
      #element-521
      {
      height: 320px;
      width: 360px;
      left: 27px;
      top: 357px;
      z-index: 37;
      }
      #element-521 p, #element-521 ul, #element-521 ol, #element-521 h1
      {
      font-size: 16px;
      color: rgb(0, 0, 0);
      line-height: 20px;
      text-align: left !important;
      }
      #element-522
      {
      height: 244px;
      width: 360px;
      left: 27px;
      top: 92px;
      z-index: 38;
      }
      #element-522 p, #element-522 ul, #element-522 ol, #element-522 h1
      {
      font-size: 19px;
      color: rgb(131, 131, 131);
      line-height: 23px;
      text-align: left !important;
      }
      #element-440
      {
      height: 44px;
      width: 360px;
      left: 20px;
      top: 40px;
      z-index: 20;
      }
      #element-440 p, #element-440 ul, #element-440 ol, #element-440 h1
      {
      font-size: 19px;
      color: rgb(0, 0, 0);
      line-height: 23px;
      text-align: center;
      }
      #element-470
      {
      height: 96px;
      width: 360px;
      left: 19px;
      top: 97px;
      z-index: 25;
      }
      #element-470 p, #element-470 ul, #element-470 ol, #element-470 h1
      {
      font-size: 16px;
      color: rgb(0, 0, 0);
      line-height: 19px;
      text-align: left !important;
      }
      #element-469
      {
      height: 48px;
      width: 329px;
      left: 34px;
      top: 220px;
      z-index: 24;
      }
      #element-464
      {
      height: 20px;
      width: 360px;
      left: 20px;
      top: 40px;
      z-index: 22;
      }
      #element-464 p, #element-464 ul, #element-464 ol, #element-464 h1
      {
      font-size: 18px;
      color: rgb(202, 202, 202);
      line-height: 20px;
      text-align: center;
      }
      #element-465
      {
      height: 19px;
      width: 360px;
      left: 20px;
      top: 90px;
      z-index: 23;
      }
      #element-465 p, #element-465 ul, #element-465 ol, #element-465 h1
      {
      font-size: 15px;
      color: rgb(123, 123, 123);
      line-height: 19px;
      text-align: center;
      }
      #page-block-p023hbpmylhpcqaf4b4fjq0k9 { height: 91px; }
      #page-block-p023hbpmylhpcqaf4b4fjq0k9 .border-holder
      {
      background-image: none;
      background-color: transparent;
      background-repeat: repeat;						background-position: top left;
      background-size:cover;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 91px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page-block-p023hbpmylhpcqaf4b4fjq0k9 .color-overlay
      {
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0 auto;
      background-color: rgba(0,0,0,0);
      opacity: 0.5;
      }
      #page-block-p023hbpmylhpcqaf4b4fjq0k9 .block-inner
      {
      margin-top: 0px;
      }
      #page-block-rqa2vx22t4b8jgvaqaz2maemi { height: 747px; }
      #page-block-rqa2vx22t4b8jgvaqaz2maemi .border-holder
      {
      background-image: url("https://v.fastcdn.co/u/2d746943/13877188-0-c6403c78dd6a81f29a04.jpg");
      background-color: #f2f2f2;
      background-repeat: no-repeat;						background-position: left bottom;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      width: 400px;
      margin: 0 auto;
      border-width: 0px;
      height: 747px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page-block-rqa2vx22t4b8jgvaqaz2maemi .color-overlay
      {
      width: 400px;
      left: 0;
      right: 0;
      height: 100%;
      position: absolute;
      margin: 0 auto;
      background-color: transparent;
      opacity: 0.62650602409639;
      }
      #page-block-rqa2vx22t4b8jgvaqaz2maemi .block-inner
      {
      margin-top: 0px;
      margin-left: 0px;
      }
      #page-block-q1u0lw0ao5iwc9dfkfn7b9 { height: 771px; }
      #page-block-q1u0lw0ao5iwc9dfkfn7b9 .border-holder
      {
      background-image: none;
      background-color: #ffffff;
      background-repeat: repeat;						background-position: top left;
      background-size:cover;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      width: 400px;
      margin: 0 auto;
      border-width: 0px;
      height: 771px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page-block-q1u0lw0ao5iwc9dfkfn7b9 .color-overlay
      {
      width: 400px;
      left: 0;
      right: 0;
      height: 100%;
      position: absolute;
      margin: 0 auto;
      background-color: rgba(0,0,0,0);
      opacity: 0.5;
      }
      #page-block-q1u0lw0ao5iwc9dfkfn7b9 .block-inner
      {
      margin-top: 0px;
      margin-left: 0px;
      }
      #page-block-3nuexm7ayqyv6g16i081xde7b9 { height: 496px; }
      #page-block-3nuexm7ayqyv6g16i081xde7b9 .border-holder
      {
      background-image: none;
      background-color: #f2f2f2;
      background-repeat: repeat;						background-position: top left;
      background-size:cover;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 496px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page-block-3nuexm7ayqyv6g16i081xde7b9 .color-overlay
      {
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0 auto;
      background-color: rgba(0,0,0,0);
      opacity: 0.5;
      }
      #page-block-3nuexm7ayqyv6g16i081xde7b9 .block-inner
      {
      margin-top: 0px;
      }
      #page_block_footer { height: 906px; }
      #page_block_footer .border-holder
      {
      background-image: none;
      background-color: #3a3a3a;
      background-repeat: no-repeat;						background-position: center bottom;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 906px;
      background-attachment: fixed;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page_block_footer .color-overlay
      {
      }
      #page_block_footer .block-inner
      {
      margin-top: 0px;
      }
      #page_block_below_fold { height: 710px; }
      #page_block_below_fold .border-holder
      {
      background-image: none;
      background-color: #ffffff;
      background-repeat: no-repeat;						background-position: center top;
      background-size:auto auto;
      -webkit-background-size:auto auto;
      -moz-background-size:auto auto;
      -o-background-size:auto auto;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 710px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page_block_below_fold .color-overlay
      {
      }
      #page_block_below_fold .block-inner
      {
      margin-top: 0px;
      }
      #page-block-a9uzf8dm0c0kuv885wwtmaemi { height: 310px; }
      #page-block-a9uzf8dm0c0kuv885wwtmaemi .border-holder
      {
      background-image: none;
      background-color: #f2f2f2;
      background-repeat: repeat;						background-position: top left;
      background-size:cover;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 310px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page-block-a9uzf8dm0c0kuv885wwtmaemi .color-overlay
      {
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0 auto;
      background-color: rgba(0,0,0,0);
      opacity: 0.5;
      }
      #page-block-a9uzf8dm0c0kuv885wwtmaemi .block-inner
      {
      margin-top: 0px;
      }
      #page-block-mokjsqvubit3xr { height: 150px; }
      #page-block-mokjsqvubit3xr .border-holder
      {
      background-image: none;
      background-color: #202020;
      background-repeat: repeat;						background-position: center top;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      width: auto;
      border-width: 0;
      border-top-width: 0px;
      border-bottom-width: 0px;
      height: 150px;
      }
      @media only screen and (max-width: 770px) {
      .border-holder {
      background-attachment: scroll !important;
      }
      }
      #page-block-mokjsqvubit3xr .color-overlay
      {
      }
      #page-block-mokjsqvubit3xr .block-inner
      {
      margin-top: 0px;
      }
      }
      @media
      screen and (min-width: 621px)  and (-webkit-max-device-pixel-ratio: 1.5),
      screen and (min-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5)
      {
      .new_mobile .page.page2.mobile .block-inner
      {
      width: 960px;
      }
      }
    style.
      @media only screen and (max-width: 640px){
      .widget-form .form-input[type="text"], .widget-form .form-input[type="password"], .widget-form .form-input[type="email"], .widget-form textarea.form-input{
      margin: 0px 0px 8px 0px;
      }
      fieldset[data-fieldset="1"] a{
      margin-bottom: 8px;
      }
      }
      .widget-form select{
      padding-right: 25px;
      }
      select::-ms-expand {
      display: none !important;
      }
    script.
      $('html').hide();
      $(window).load(function() {
      $('html').fadeIn(1500);
      })
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TF7QDV' );
    // End Google Tag Manager
  body.new_mobile
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TF7QDV', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    #i-page.page.page2
      .notification
        .notification-overlay
        .notification-inner
          img.loading.notification-loader(rel='//v.fastcdn.co/a/img/loading_circle.svg', src='lp-psychology.html', alt='')
          span.message
          span.close-button(onclick='jQuery(this).parent().parent().hide()') Close
      #page-block-p023hbpmylhpcqaf4b4fjq0k9.page-block
        .color-overlay
        .border-holder
          .block-inner
            #element-359.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style=' ')
                  font(color='#000000') |   Online
            #element-486.page-element.widget-container.page-element-type-image.widget-image
              .contents
                img(src='https://v.fastcdn.co/u/2d746943/14847518-0-FTLogo-H-CMYK-NoTagl.png', style='height: 100%; width: 100%; margin-top: 0px;', alt='')
      #page-block-rqa2vx22t4b8jgvaqaz2maemi.page-block
        .color-overlay
        .border-holder
          .block-inner
            #element-389.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style=' ')
                  b June 21, 2017
            #element-367.page-element.widget-container.page-element-type-headline.widget-headline
              .contents
                h1
                  p(style='text-align: left;  ') Earn Your Psychology Degree, 100% Online.
            #element-447.page-element.widget-container.page-element-type-box.widget-box
              .box(style='width: 100%; height: 100%; background-color: #910028; border-radius: 9px 9px 0px 0px; opacity: 1; filter:alpha(opacity=100); background-repeat: repeat; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-position: top left;')
            #element-388.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style=' ')
                  font(color='#ffffff') Next Application Deadline
            #element-448.page-element.widget-container.page-element-type-headline.widget-headline
              .contents
                h2
                  p(style=' ')
                    b
                      font(color='#cccc99') Join a University That Cares About Your Career Aspirations!
      #page-block-q1u0lw0ao5iwc9dfkfn7b9.page-block
        .color-overlay
        .border-holder
          .block-inner
            #element-515.page-element.widget-container.page-element-type-image.widget-image
              .contents
                img(src='https://v.fastcdn.co/u/2d746943/16292001-0-FT-AidChart-04.png', style='height: 100%; width: 100%; margin-top: 0px;', alt='')
            #element-399.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style=' ')
                  font(color='#3a3a3a')
                    | Florida Tech started in 1958 to support the spirit of exploration and discovery that fueled the development of the Space Coast. As part of this legacy of innovation, Florida Tech has become a leader in education online, offering media-rich, rigorous psychology degrees among its many program offerings.
            #element-481.page-element.widget-container.page-element-type-form.widget-form
              style(type='text/css').
                #element-481 .submit-button
                {
                background-color: #910028;
                color: #cccc99;
                }
                #element-481 .submit-button:active
                {
                }
                #element-481 .field-checkbox .field-element input[type=checkbox]:checked + label:before
                {
                background-color: #910028;
                border-color: #910028;
                }
                #element-481 .field-radio .field-element label:after
                {
                border-color: #910028;
                }
                #element-481 .input-holder label
                {
                color: #000000;
                }
                #element-481 ::-webkit-input-placeholder
                { /* WebKit browsers */
                color: #000000	}
                #element-481 :-moz-placeholder
                { /* Mozilla Firefox 4 to 18 */
                color: #000000;
                }
                #element-481 ::-moz-placeholder
                { /* Mozilla Firefox 19+ */
                color: #000000;
                }
                #element-481 :-ms-input-placeholder
                { /* Internet Explorer 10+ */
                color: #000000;
                }
                #element-481 label.error
                {
                color: #C00;
                }
                #element-481 input[type="text"],
                #element-481 input[type="password"],
                #element-481 input[type="email"],
                #element-481 textarea
                {
                color: #000000;
                background-color: #ffffff;
                border-color: #cccc99;
                }
                #element-481 input::-webkit-input-placeholder
                {
                color: #000000;
                }
                #element-481 input:-moz-placeholder
                {
                color: #000000;
                opacity: 1;
                }
                #element-481 input::-moz-placeholder
                {
                color: #000000;
                opacity: 1;
                }
                #element-481 input:-ms-input-placeholder
                {
                color: #000000;
                }
                #element-481 select
                {
                color: #000000		}
                #element-481 select option
                {
                background-color: #ffffff;
                }
                #element-481 select
                {
                border-color: #cccc99;
                background-color: #ffffff;
                }
                #element-481 .dynamic-button:hover
                {
                background-color: #8e8273;
                }
                #element-481 .submit-holder
                {
                position: relative;
                }
                #element-481 .dynamic-button, #element-481 .image-button
                {
                position: absolute;
                margin: 0;
                top: 258px;
                left: 0.093846054689948px;
                width: 298px;
                height: 50px;
                box-sizing: content-box;
                line-height: 20px;
                font-size: 18px;
                font-weight: 700;
                font-family: Lato;
                border-radius: 5px;					}
                @media
                screen and ( max-width: 620px ),
                screen and ( max-width: 999px ) and ( -webkit-min-device-pixel-ratio: 1.5 ) and ( max-device-width: 1280px ) and ( max-device-height: 720px ),
                screen and ( max-width: 999px ) and ( -webkit-min-device-pixel-ratio: 1.5 ) and ( max-device-width: 1000px )
                {
                body:not( .tablet ) #element-481 .dynamic-button, body:not( .tablet ) #element-481 .image-button
                {
                position: absolute;
                /* -156.89233398438*/
                top: 293.10766601562px;
                left: 0.642369003906px;
                width: 298px;
                height: 50px;
                line-height: 20px;
                font-size: 17px;
                }
                }
              .widget-container.widget-form
                .contents
                  form.email-form(method='post', action='https://app.instapage.com/ajax/pageserver/email/5755156', data='instapage-form', data-wid='481')
                    input(type='hidden', name='variant', value='A')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-0(type='hidden', name='c3RlcDE=', value='step1')
                    .input-holder.field-select
                      .field-element
                        .select-outer
                          select#aaefd3aecd4591975c0633ad010cce73-1.required(name='QXJlYSBvZiBTdHVkeQ==')
                            option(style='display:none;color: 000000', value='', default='', disabled='', selected='') Area of Study
                            option(value='Select...') Select...
                    .input-holder.field-select
                      .field-element
                        .select-outer
                          select#aaefd3aecd4591975c0633ad010cce73-2.required(name='RGVncmVlIFR5cGU=')
                            option(style='display:none;color: 000000', value='', default='', disabled='', selected='') Degree Type
                            option(value='Select...') Select...
                    .input-holder.field-select
                      .field-element
                        .select-outer
                          select#aaefd3aecd4591975c0633ad010cce73-3.required(name='UHJvZ3JhbSBvZiBJbnRlcmVzdA==')
                            option(style='display:none;color: 000000', value='', default='', disabled='', selected='') Program of Interest
                            option(value='Select...') Select...
                    .input-holder.field-select
                      .field-element
                        .select-outer
                          select#aaefd3aecd4591975c0633ad010cce73-4.required(name='TWlsaXRhcnkgUmVsYXRpb25zaGlw')
                            option(style='display:none;color: 000000', value='', default='', disabled='', selected='') Military Relationship
                            option(value='Select...') Select...
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-5(type='hidden', name='c3RlcDI=', value='step2')
                    .input-holder.field-text
                      .field-element
                        input#aaefd3aecd4591975c0633ad010cce73-6.shortnice.form-input.required(type='text', name='Rmlyc3QgTmFtZQ==', value='', placeholder='First Name', data-label-inside='First Name')
                    .input-holder.field-text
                      .field-element
                        input#aaefd3aecd4591975c0633ad010cce73-7.shortnice.form-input.required(type='text', name='TGFzdCBOYW1l', value='', placeholder='Last Name', data-label-inside='Last Name')
                    .input-holder.field-text
                      .field-element
                        input#aaefd3aecd4591975c0633ad010cce73-8.shortnice.form-input.required.checknumericvalue(type='text', name='UGhvbmUgTnVtYmVy', value='', placeholder='Phone Number', data-label-inside='Phone Number')
                    .input-holder.field-text
                      .field-element
                        input#aaefd3aecd4591975c0633ad010cce73-9.shortnice.form-input.required(type='email', name='RW1haWw=', value='', placeholder='Email', data-label-inside='Email')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-10(type='hidden', name='VW5pdmVyc2l0eS9JbnN0aXR1dGlvbg==', value='0016100000TWYsZAAX')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-11(type='hidden', name='Q291bnRyeQ==', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-12(type='hidden', name='U3RhdGU=', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-13(type='hidden', name='VGltZSBab25l', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-14(type='hidden', name='UG9zdGFsIENvZGU=', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-15(type='hidden', name='Q2l0eQ==', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-16(type='hidden', name='V2Vic2l0ZQ==', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-17(type='hidden', name='SW5xdWlyeSBTb3VyY2UgRGV0YWls', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-18(type='hidden', name='VENQQSAtIENvbnNlbnQgSUQ=', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-19(type='hidden', name='VENQQSAtIERhdGUvVGltZSBDb25zZW50', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-20(type='hidden', name='VENQQSAtIElQIEFkZHJlc3M=', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-21(type='hidden', name='VENQQSBOb3RpY2U=', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-22(type='hidden', name='VENQQSAtIERpc2Nsb3N1cmUgVmVyc2lvbiBJRA==', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-23(type='hidden', name='VENQQQ==', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-24(type='hidden', name='bWt0b19DYW1wYWlnbg==', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-25(type='hidden', name='TGVhZCBTb3VyY2U=', value='Paid Search')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-26(type='hidden', name='SW5xdWlyeSBTb3VyY2UgKEhpZGRlbik=', value='')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-27(type='hidden', name='bGFuZGluZ1BhZ2VVcmw=', value='https://explore.floridatechonline.com/template')
                    .input-holder.field-hidden
                      input#aaefd3aecd4591975c0633ad010cce73-28(type='hidden', name='ZGVmYXVsdEFyZWE=', value='psychology')
                    input.configuration(type='hidden', name='redirect', value='http://learn.floridatechonline.com/FT-Thank-You.html')
                    input.configuration(type='hidden', name='marketo-integration', value='eyJ0b2tlbiI6ImM2NDg5MWM2Y2EzODYwYzc5ODdiOGVlNTc4ZGY4YWE0IiwiZmllbGRtYXAiOlt7Imluc3RhcGFnZSI6IlByb2dyYW0gb2YgSW50ZXJlc3QiLCJpbnRlZ3JhdGlvbiI6IlByb2dyYW1fb2ZfSW50ZXJlc3RfX2MifSx7Imluc3RhcGFnZSI6Ik1pbGl0YXJ5IFJlbGF0aW9uc2hpcCIsImludGVncmF0aW9uIjoiTWlsaXRhcnlfUmVsYXRpb25zaGlwX19jIn0seyJpbnN0YXBhZ2UiOiJGaXJzdCBOYW1lIiwiaW50ZWdyYXRpb24iOiJmaXJzdE5hbWUifSx7Imluc3RhcGFnZSI6Ikxhc3QgTmFtZSIsImludGVncmF0aW9uIjoibGFzdE5hbWUifSx7Imluc3RhcGFnZSI6IlBob25lIE51bWJlciIsImludGVncmF0aW9uIjoicGhvbmUifSx7Imluc3RhcGFnZSI6IkVtYWlsIiwiaW50ZWdyYXRpb24iOiJFTUFJTCJ9LHsiaW5zdGFwYWdlIjoiVW5pdmVyc2l0eVwvSW5zdGl0dXRpb24iLCJpbnRlZ3JhdGlvbiI6IlVuaXZlcnNpdHlfSW5zdGl0dXRpb25fX2MifSx7Imluc3RhcGFnZSI6IkNvdW50cnkiLCJpbnRlZ3JhdGlvbiI6ImNvdW50cnkifSx7Imluc3RhcGFnZSI6IlN0YXRlIiwiaW50ZWdyYXRpb24iOiJzdGF0ZSJ9LHsiaW5zdGFwYWdlIjoiVGltZSBab25lIiwiaW50ZWdyYXRpb24iOiJUWl9BY2NvdW50X19jIn0seyJpbnN0YXBhZ2UiOiJQb3N0YWwgQ29kZSIsImludGVncmF0aW9uIjoicG9zdGFsQ29kZSJ9LHsiaW5zdGFwYWdlIjoiQ2l0eSIsImludGVncmF0aW9uIjoiY2l0eSJ9LHsiaW5zdGFwYWdlIjoiV2Vic2l0ZSIsImludGVncmF0aW9uIjoid2Vic2l0ZSJ9LHsiaW5zdGFwYWdlIjoiSW5xdWlyeSBTb3VyY2UgRGV0YWlsIiwiaW50ZWdyYXRpb24iOiJJbnF1aXJ5X1NvdXJjZV9EZXRhaWxfX2MifSx7Imluc3RhcGFnZSI6IlRDUEEgLSBDb25zZW50IElEIiwiaW50ZWdyYXRpb24iOiJUQ1BBX0NvbnNlbnRfSURfX2MifSx7Imluc3RhcGFnZSI6IlRDUEEgLSBEYXRlXC9UaW1lIENvbnNlbnQiLCJpbnRlZ3JhdGlvbiI6IlRDUEFfRGF0ZV9UaW1lX0NvbnNlbnRfX2MifSx7Imluc3RhcGFnZSI6IlRDUEEgLSBJUCBBZGRyZXNzIiwiaW50ZWdyYXRpb24iOiJUQ1BBX0lQX0FkZHJlc3NfX2MifSx7Imluc3RhcGFnZSI6IlRDUEEgTm90aWNlIiwiaW50ZWdyYXRpb24iOiJUQ1BBX05vdGljZV9fYyJ9LHsiaW5zdGFwYWdlIjoiVENQQSAtIERpc2Nsb3N1cmUgVmVyc2lvbiBJRCIsImludGVncmF0aW9uIjoiVENQQV9EaXNjbG9zdXJlX1ZlcnNpb25fSURfX2MifSx7Imluc3RhcGFnZSI6IlRDUEEiLCJpbnRlZ3JhdGlvbiI6IlRDUEFfX2MifSx7Imluc3RhcGFnZSI6Im1rdG9fQ2FtcGFpZ24iLCJpbnRlZ3JhdGlvbiI6Im1rdG9DYW1wYWlnbiJ9LHsiaW5zdGFwYWdlIjoiTGVhZCBTb3VyY2UiLCJpbnRlZ3JhdGlvbiI6ImxlYWRTb3VyY2UifSx7Imluc3RhcGFnZSI6IklucXVpcnkgU291cmNlIChIaWRkZW4pIiwiaW50ZWdyYXRpb24iOiJJbnF1aXJ5X1NvdXJjZV9IaWRkZW5fX2MifSx7Imluc3RhcGFnZSI6ImxhbmRpbmdQYWdlVXJsIiwiaW50ZWdyYXRpb24iOiJMYW5kaW5nX1BhZ2VfVVJMX19jIn1dLCJpZCI6IjE3MjEifQ==')
                    button.btn.submit-button.button_submit.dynamic-button.corners GET MORE INFO
                    input(type='hidden', name='validation', value='Tzo4OiJzdGRDbGFzcyI6Mjp7czo2OiJmaWVsZHMiO2E6ODp7czoxMzoiQXJlYSBvZiBTdHVkeSI7Tzo4OiJzdGRDbGFzcyI6MTp7czo4OiJyZXF1aXJlZCI7YjoxO31zOjExOiJEZWdyZWUgVHlwZSI7Tzo4OiJzdGRDbGFzcyI6MTp7czo4OiJyZXF1aXJlZCI7YjoxO31zOjE5OiJQcm9ncmFtIG9mIEludGVyZXN0IjtPOjg6InN0ZENsYXNzIjoxOntzOjg6InJlcXVpcmVkIjtiOjE7fXM6MjE6Ik1pbGl0YXJ5IFJlbGF0aW9uc2hpcCI7Tzo4OiJzdGRDbGFzcyI6MTp7czo4OiJyZXF1aXJlZCI7YjoxO31zOjEwOiJGaXJzdCBOYW1lIjtPOjg6InN0ZENsYXNzIjoxOntzOjg6InJlcXVpcmVkIjtiOjE7fXM6OToiTGFzdCBOYW1lIjtPOjg6InN0ZENsYXNzIjoxOntzOjg6InJlcXVpcmVkIjtiOjE7fXM6MTI6IlBob25lIE51bWJlciI7Tzo4OiJzdGRDbGFzcyI6MTp7czo4OiJyZXF1aXJlZCI7YjoxO31zOjU6IkVtYWlsIjtPOjg6InN0ZENsYXNzIjoxOntzOjg6InJlcXVpcmVkIjtiOjE7fX1zOjc6ImZvcm1faWQiO3M6MzI6ImFhZWZkM2FlY2Q0NTkxOTc1YzA2MzNhZDAxMGNjZTczIjt9')
                    input(type='hidden', name='thank-you-message', value='T25lIG1vbWVudCBwbGVhc2UuLi4=')
                div(style='clear: both')
            #element-446.page-element.widget-container.page-element-type-box.widget-box
              .box(style='width: 100%; height: 100%; background-color: #ffffff; border: 2px solid #e2e2e2; border-radius: 0px 0px 9px 9px; opacity: 1; filter:alpha(opacity=100); background-repeat: repeat; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-position: top left;')
            #element-371.page-element.widget-container.page-element-type-headline.widget-headline
              .contents
                h2
                  p(style=' ')
                    font(color='#575757') Career Advantages of a Florida Tech Online Degree
            #element-501.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style=' ')
                  font(color='#838383')
                    | By completing this form, I consent to receiving calls and/or emails from Bisk regarding educational services and programs. I understand calls may be generated using an automated technology. Consent is needed to contact you, but is not a requirement to purchase goods or services.
            #element-377.page-element.widget-container.page-element-type-text.widget-text
              .contents
                ul(style=' ')
                  li(style='color: rgb(87, 87, 87);')
                    | Access to Florida Tech’s Career Management Services as a student and alumnus
                  li(style='color: rgb(87, 87, 87);')
                    | Flexible scheduling allows you to study without putting your career on hold
                  li(style='color: rgb(87, 87, 87);')
                    font(color='#575757')
                      | Study anywhere with interactive course materials accessible on your computer or mobil
                    | e devi
                    font(color='#575757')
                      | ce
                  li(style='color: rgb(87, 87, 87);')
                    | Highly accessible faculty respond quickly to your questions, needs and concerns
                  li(style='color: rgb(87, 87, 87);')
                    | Classes are eight weeks long, with six starts per year
                  li(style='color: rgb(87, 87, 87);') Alumni include NASA scientists, Fortune 500 CEOs and top military generals
            #element-516.page-element.widget-container.page-element-type-headline.widget-headline
              .contents
                h2
                  p(style=' ')
                    font(color='#575757') Why Choose Florida Tech?
      #page-block-3nuexm7ayqyv6g16i081xde7b9.page-block
        .color-overlay
        .border-holder
          .block-inner
            #element-495.page-element.widget-container.page-element-type-headline.widget-headline
              .contents
                h1
                  p(style=' ')
                    font(color='#575757') Psychology Programs: 
            #element-496.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style=' ')
                  | The study of the mind and human behavior is at the core of a number of professional fields, such as child advocacy, forensics, mental health, social work, substance abuse and organizational leadership. An education in psychology can provide a path to a variety of careers, from mental health technician to case manager to childcare worker.
      #page_block_footer.page-block
        .color-overlay
        .border-holder
          .block-inner
            #element-511.page-element.widget-container.page-element-type-image.widget-image
              .contents
                img(src='https://v.fastcdn.co/u/2d746943/15420751-0-FT-Icons-48x48-white.png', style='height: 100%; width: 100%; margin-top: 0px;', alt='')
            #element-402.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style=' ')
                  font(color='#ffffff')
                    b 24/7 Online Convenience
            #element-400.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style=' ')
                  b
                    font(color='#ffffff') On-campus
                p(style=' ')
                  b
                    font(color='#ffffff') Quality
            #element-407.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style=' ')
                  font(color='#ffffff')
                    b Collaboration with Classmates
            #element-517.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style=' ')
                  font(color='#ffffff')
                    | Courses administered online at Florida Tech have the same rigorous learning objectives as our campus-based curriculum. Our faculty collaborates with instructional program experts to ensure each course features an interactive and compelling experience for our students. Here’s what you can expect:
            #element-408.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style=' ')
                  font(color='#ffffff')
                    b Career Management Services
            #element-414.page-element.widget-container.page-element-type-image.widget-image
              style(type='text/css').
                #element-414 .cropped
                {
                background-image: url('https://v.fastcdn.co/u/2d746943/15231036-0-OLIN-ENGINEERING.jpg');
                background-position: -97px 0px;
                width: 489px;			height:451px;						background-size: 681px 451px;
                }
                @media
                screen and (max-width: 620px),
                screen and (max-width: 959px) and (-webkit-min-device-pixel-ratio: 1.5)
                {
                #element-414 .cropped
                {
                height: 368.92px;					width: 400px;					background-size: 557px 368px;
                background-position: -79px 0px;
                }
                }
              .contents
                .cropped(alt='')
            #element-409.page-element.widget-container.page-element-type-image.widget-image
              .contents
                img(src='https://v.fastcdn.co/u/2d746943/13705888-0-211848230-17.png', style='height: 100%; width: 100%; margin-top: 0px;', alt='')
            #element-512.page-element.widget-container.page-element-type-image.widget-image
              .contents
                img(src='https://v.fastcdn.co/u/2d746943/15420766-0-FT-Icons-48x48-white.png', style='height: 100%; width: 100%; margin-top: 0px;', alt='')
            #element-412.page-element.widget-container.page-element-type-image.widget-image
              .contents
                img(src='https://v.fastcdn.co/u/2d746943/13705873-0-211848230-10.png', style='height: 100%; width: 100%; margin-top: 0px;', alt='')
            #element-518.page-element.widget-container.page-element-type-headline.widget-headline
              .contents
                h2
                  p(style=' ') Your Home is Your Campus
      #page_block_below_fold.page-block
        .color-overlay
        .border-holder
          .block-inner
            #element-519.page-element.widget-container.page-element-type-headline.widget-headline
              .contents
                h1
                  p(style='text-align: center;  ')
                    b
                      font(color='#575757') What Our Students Say
            #element-521.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style=' ')
                  font(color='#575757')
                    | "The most rewarding part has been the fact that I am able to learn while being thousands of miles away. As a military wife, I am able to enjoy the flexibility that only an online platform provides as we have to move around the globe."
                p(style=' ')
                  font(color='#575757')
                    br
                p(style=' ')
                  font(color='#575757')
                    | Maria V.
                p(style=' ')
                  font(color='#575757')
                    | BA in Applied Psychology
                p(style=' ')
                  font(color='#575757')
                    br
                p(style=' ')
                p(style=' ')
                  br
                p(style=' ')
                  span(style='color: rgb(87, 87, 87);')
                    | “Florida Tech is a very reputable school with employers. You show up to an interview with an FIT degree, you’re already a step ahead.”
                  br
                p(style=' ')
                  span(style='color: rgb(87, 87, 87);')
                    br
                p(style=' ')
                  font(color='#575757')
                    | Ed H.
                p(style=' ')
                  font(color='#575757') BA Applied Psychology
            #element-522.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style='text-align: left;  ')
                  font(color='#660000')
                    b
                      | "It has taught me discipline, it has challenged me and it has made me a harder worker. Sure I have had my moments of cramming to meet deadlines and feeling overwhelmed. But overall the experience was something I wouldn't give up or change for anything."
                p(style='text-align: left;  ')
                  font(color='#660000')
                    b
                      br
                p(style='text-align: left;  ')
                  font(color='#660000')
                    b
                      | Cassandra B.
                p(style='text-align: left;  ')
                  font(color='#660000')
                    b
                      | BA in Applied Psychology/Child Advocacy
                p(style='text-align: center;  ')
                  font(color='#660000')
                    b
                      br
      #page-block-a9uzf8dm0c0kuv885wwtmaemi.page-block
        .color-overlay
        .border-holder
          .block-inner
            #element-440.page-element.widget-container.page-element-type-headline.widget-headline
              .contents
                h1
                  p(style='text-align: center;  ')
                    b
                      font(color='#575757') Take the next step toward boosting your career with our free program guide:
            #element-469.page-element.widget-container.page-element-type-button.widget-button
              style(type='text/css').
                #element-469 .dynamic-button
                {
                background-color: #910028;
                color: #cccc99;
                }
                #element-469 .dynamic-button:active
                {
                }
                #element-469 .dynamic-button:hover
                {
                background-color: #8e8273;
                }
                #element-469 .dynamic-button, #element-469 .image-button
                {
                width: 329px;
                height: 48px;
                z-index: 24;
                line-height: 19px;
                font-size: 16px;
                font-weight: 700;
                font-family: Arial;
                border-radius: 5px;
                }
                @media
                screen and ( max-width: 620px ),
                screen and ( max-width: 999px ) and ( -webkit-min-device-pixel-ratio: 1.5 ) and ( max-device-width: 1280px ) and ( max-device-height: 720px ),
                screen and ( max-width: 999px ) and ( -webkit-min-device-pixel-ratio: 1.5 ) and ( max-device-width: 1000px )
                {
                body:not( .tablet ) #element-469 .dynamic-button, body:not( .tablet ) #element-469 .image-button
                {
                width: 329px;
                height: 48px;
                z-index: 24;
                line-height: 48px;
                font-size: 16px;
                }
                }
              .conversion_wrapper
                a.on-page-scroll(href='lp-psychology.html#page-block-rqa2vx22t4b8jgvaqaz2maemi', style='width: 329px; height: 48px;', data-wid='469')
                  .btn.submit-button.button_submit.dynamic-button Get Your Program Guide
            #element-470.page-element.widget-container.page-element-type-text.widget-text
              .contents
                ul(style='color: rgb(87, 87, 87);  ')
                  li
                    font(color='#575757')
                      | Program and curriculum descriptions
                      br
                  li
                    font(color='#575757') Tuition, military rates and financial aid details
                  li
                    font(color='#575757') What to expect in a virtual classroom
                  li
                    font(color='#575757') Florida Tech's mission
      #page-block-mokjsqvubit3xr.page-block
        .color-overlay
        .border-holder
          .block-inner
            #element-464.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style='text-align: center;  ')
                  font(color='#cacaca') Questions? Call 855-300-1469
            #element-465.page-element.widget-container.page-element-type-text.widget-text
              .contents
                p(style='text-align: center;  ')
                  font(color='#7b7b7b') © 2017 
                  a#link-wqrriay6agpcsn5qh3erk9.url-link(href='https://www.floridatechonline.com/privacy/', rel='null', type='url', target='_blank') Privacy Policy
                  |  
                  a#link-iv7lswybep4dzjwze18oxbt9.url-link(href='https://www.floridatechonline.com/terms/', rel='null', type='url', target='_blank') Terms
                  |  
                  a#link-p9tl18sbtfpwt2o9cpeklnmi.url-link(href='https://www.floridatechonline.com/student-disclosures/', rel='null', type='url', target='_blank') Student Disclosures
    #fb-root
    // visitor pixel
    script.instapage-noscrap(type='text/javascript').
      window.__conversions_settings = {"forms":true,"links":false,"external":false,"changed_by_user":false};
      function iCopyKeenEvent( name, properties )
      {
      var params_copy = window.__keen_io_called_parameters.slice();
      var data = {};
      properties = properties || {};
      for( i in params_copy[ 2 ] )
      {
      if( params_copy[ 2 ].hasOwnProperty( i ) )
      {
      data[ i ] = params_copy[ 2 ][ i ];
      }
      }
      for( i in properties )
      {
      if( properties.hasOwnProperty( i ) )
      {
      data[ i ] = properties[ i ];
      }
      }
      if( name === 'conversion' && window.__unique )
      {
      if( window.__unique.isVisited() )
      {
      data[ 'responsive_mode' ] = window.__unique.isResponsiveMode() ? 'mobile' : null;
      }
      }
      params_copy.splice( 1, 2, name, data );
      return params_copy;
      }
      function iEncodePixelUrl( id, event, data, key )
      {
      var endpoint = "anthill.instapage.com" + '/projects/' + id + '/events/' + event;
      var query = 'api_key=' + key + '&data=' + base64_encode( JSON.stringify( data ) );
      var image_url = '//' + endpoint + '?' + query;
      return image_url;
      }
      function iCreateTrackingPixel( src )
      {
      return ijQuery( '<img>')
      .attr( {
      src: src,
      width: 1,
      height: 1,
      alt: '',
      title: '',
      style: 'display: table-cell; height: 0; position: absolute; left: -9999999px; top: -999999px;'
      } )
      }
      ijQuery( document ).on( 'ready', function()
      {
      var cookie_name = 'instapage-visit-5755156';
      var parameters = {"owner_id":735433,"user_id":735433,"page_id":5755156,"published_version":21,"quantity":1,"static_page":false,"variation_name":"A","variation_id":1,"linked_variation_id":2,"initial_responsive_mode":null,"visitor_ip":"104.155.159.71","useragent":""};
      var id = '5755156';
      var track_returning_visitors = true;
      var project_id = '56c2f3d796773d0a7e96a536';
      var event = 'visit';
      var key = 'de3c9771fbf693c801b096e47c6b537708cf84b5b7a495d107af47d8b83e6eacf1ae31ca5fcccf09658cb9dc16e2c7d88128823d0e59fa37d5cfc5f6009d2c01db2cdbbb9e3edd740f936c9aacc3b7f13225c6df555fa1f67d0dc04716022697cc2e1bf38f9585180f1f4df0723d5f46439ceeffb850b3907a17f1cbb4f413501ede173d4f7e64fa803a081d97bf3f50';
      parameters.javascript = true;
      parameters.variation = parameters.variation_name;
      parameters.generation_time = '4';
      parameters.responsive_mode = null;
      if( window.__mobile_version === 2 && window.innerWidth < 600 && window.__variant.indexOf( '-mobile' ) < 0 )
      {
      window.__variant += '-mobile';
      parameters.responsive_mode = 'mobile';
      }
      else if( window.__variant.indexOf( '-mobile' ) > 0 )
      {
      parameters.responsive_mode = 'mobile';
      }
      window.__unique = new InstapageUniqueVisit( cookie_name, {
      variant: parameters.variation_name,
      responsive_mode: parameters.responsive_mode,
      reset: {}		} );
      parameters.visited = window.__unique.isVisited();
      parameters.campaign_id = window.__unique.getCampaignId();
      parameters.campaign_source = window.__unique.getCampaignSource();
      parameters.ref = window.__unique.getRef();
      window.__keen_io_called_parameters = [ project_id, event, parameters, key ];
      if( !parameters.visited || track_returning_visitors )
      {
      iCreateTrackingPixel( iEncodePixelUrl( project_id, event, parameters, key ) )
      .appendTo( ijQuery( 'body' ) );
      window.__unique.setResponsiveMode( parameters.responsive_mode );
      window.__unique.setVisited();
      window.__unique.save();
      }
      if( window.__conversions_settings.external && typeof $.cookie( 'instapage.conversion' + id ) === 'undefined' )
      {
      var parameter_pixel = iCopyKeenEvent( "conversion", {
      conversion_type: "external",
      visited: window.__unique.isConverted()
      } );
      var external_image = iEncodePixelUrl.apply( iEncodePixelUrl, parameter_pixel );
      var data = {
      page_id: id,
      variation: parameters.variation_name,
      external_image: external_image,
      timestamp_created: Date.now(),
      timestamp_sent: null
      };
      $.cookie( 'instapage.conversion' + id, JSON.stringify( data ), {
      expires: 7,
      path: '/'
      } );
      }
      } );
    noscript.instapage-noscrap
      img(href='https://anthill.instapage.com/projects/56c2f3d796773d0a7e96a536/events/visit?api_key=de3c9771fbf693c801b096e47c6b537708cf84b5b7a495d107af47d8b83e6eacf1ae31ca5fcccf09658cb9dc16e2c7d88128823d0e59fa37d5cfc5f6009d2c01db2cdbbb9e3edd740f936c9aacc3b7f13225c6df555fa1f67d0dc04716022697cc2e1bf38f9585180f1f4df0723d5f46439ceeffb850b3907a17f1cbb4f413501ede173d4f7e64fa803a081d97bf3f50&data=eyJvd25lcl9pZCI6NzM1NDMzLCJ1c2VyX2lkIjo3MzU0MzMsInBhZ2VfaWQiOjU3NTUxNTYsInB1Ymxpc2hlZF92ZXJzaW9uIjoyMSwicXVhbnRpdHkiOjEsInN0YXRpY19wYWdlIjpmYWxzZSwidmFyaWF0aW9uX25hbWUiOiJBIiwidmFyaWF0aW9uX2lkIjoxLCJsaW5rZWRfdmFyaWF0aW9uX2lkIjoyLCJpbml0aWFsX3Jlc3BvbnNpdmVfbW9kZSI6bnVsbCwidmlzaXRvcl9pcCI6IjEwNC4xNTUuMTU5LjcxIiwidXNlcmFnZW50IjoiIiwiZ2VuZXJhdGlvbl90aW1lIjoyOX0=')
    // end
   script(src='/javascripts/instapage/lib.js')
    iframe.instapage-noscrap(src='https://d3mwhxgzltpnyp.cloudfront.net/local-storage/index.html', name='instapage-local-storage', height='0px', width='0px', style='display: block;')
