doctype html
html
  head
  body
    form.email-form(method='post', action='https://app.instapage.com/ajax/pageserver/email/4947958', data='instapage-form', data-wid='284', novalidate='novalidate')
                    input(type='hidden', name='variant', value='A')
                    input(type='hidden', name='VW5pdmVyc2l0eS9JbnN0aXR1dGlvbg==', value='0016100000TWYsYAAX')
                    .input-holder.field-hidden
                      //- input#13202f90522599d4a8ac1635bffd90d7-0(type='hidden', name='c3RlcDE=', value='step1')
                    .input-holder.field-select
                      .field-element
                        .select-outer
                          select#13202f90522599d4a8ac1635bffd90d7-1.required(name='QXJlYSBvZiBTdHVkeSA=')
                            option(style='display:none;color: #002d64', value='', default='', disabled='', selected='') Area of Study 
                    .input-holder.field-select
                      .field-element
                        .select-outer
                          select#13202f90522599d4a8ac1635bffd90d7-2(name='RGVncmVlIExldmVsOg==')
                            option(style='display:none;color: #002d64', value='', default='', disabled='', selected='') Degree Level:
                    .input-holder.field-select
                      .field-element
                        .select-outer
                          select#13202f90522599d4a8ac1635bffd90d7-3.required(name='UHJvZ3JhbSBvZiBJbnRlcmVzdA==')
                            option(style='display:none;color: #002d64', value='', default='', disabled='', selected='') Program of Interest
                    .input-holder.field-hidden
                      //- input#13202f90522599d4a8ac1635bffd90d7-4(type='hidden', name='c3RlcDI=', value='step2')
                    .input-holder.field-select
                      .field-element
                        .select-outer
                          select#13202f90522599d4a8ac1635bffd90d7-5.required(name='Q291bnRyeQ==')
                            option(style='display:none;color: #002d64', value='', default='', disabled='', selected='') Country
                            option(value='United States', selected='selected') United States
                            option(value='United Kingdom') United Kingdom
                            option(value='Afghanistan') Afghanistan
                            option(value='Albania') Albania
                            option(value='Algeria') Algeria
                            option(value='American Samoa') American Samoa
                            option(value='Andorra') Andorra
                            option(value='Angola') Angola
                            option(value='Anguilla') Anguilla
                            option(value='Antarctica') Antarctica
                            option(value='Antigua and Barbuda') Antigua and Barbuda
                            option(value='Argentina') Argentina
                            option(value='Armenia') Armenia
                            option(value='Aruba') Aruba
                            option(value='Australia') Australia
                            option(value='Austria') Austria
                            option(value='Azerbaijan') Azerbaijan
                            option(value='Bahamas') Bahamas
                            option(value='Bahrain') Bahrain
                            option(value='Bangladesh') Bangladesh
                            option(value='Barbados') Barbados
                            option(value='Belarus') Belarus
                            option(value='Belgium') Belgium
                            option(value='Belize') Belize
                            option(value='Benin') Benin
                            option(value='Bermuda') Bermuda
                            option(value='Bhutan') Bhutan
                            option(value='Bolivia') Bolivia
                            option(value='Bosnia and Herzegovina') Bosnia and Herzegovina
                            option(value='Botswana') Botswana
                            option(value='Bouvet Island') Bouvet Island
                            option(value='Brazil') Brazil
                            option(value='British Indian Ocean Territory') British Indian Ocean Territory
                            option(value='Brunei Darussalam') Brunei Darussalam
                            option(value='Bulgaria') Bulgaria
                            option(value='Burkina Faso') Burkina Faso
                            option(value='Burundi') Burundi
                            option(value='Cambodia') Cambodia
                            option(value='Cameroon') Cameroon
                            option(value='Canada') Canada
                            option(value='Cape Verde') Cape Verde
                            option(value='Cayman Islands') Cayman Islands
                            option(value='Central African Republic') Central African Republic
                            option(value='Chad') Chad
                            option(value='Chile') Chile
                            option(value='China') China
                            option(value='Christmas Island') Christmas Island
                            option(value='Cocos (Keeling) Islands') Cocos (Keeling) Islands
                            option(value='Colombia') Colombia
                            option(value='Comoros') Comoros
                            option(value='Congo') Congo
                            option(value='Congo, The Democratic Republic of The') Congo, The Democratic Republic of The
                            option(value='Cook Islands') Cook Islands
                            option(value='Costa Rica') Costa Rica
                            option(value="Cote D'ivoire") Cote D'ivoire
                            option(value='Croatia') Croatia
                            option(value='Cuba') Cuba
                            option(value='Cyprus') Cyprus
                            option(value='Czech Republic') Czech Republic
                            option(value='Denmark') Denmark
                            option(value='Djibouti') Djibouti
                            option(value='Dominica') Dominica
                            option(value='Dominican Republic') Dominican Republic
                            option(value='Ecuador') Ecuador
                            option(value='Egypt') Egypt
                            option(value='El Salvador') El Salvador
                            option(value='Equatorial Guinea') Equatorial Guinea
                            option(value='Eritrea') Eritrea
                            option(value='Estonia') Estonia
                            option(value='Ethiopia') Ethiopia
                            option(value='Falkland Islands (Malvinas)') Falkland Islands (Malvinas)
                            option(value='Faroe Islands') Faroe Islands
                            option(value='Fiji') Fiji
                            option(value='Finland') Finland
                            option(value='France') France
                            option(value='French Guiana') French Guiana
                            option(value='French Polynesia') French Polynesia
                            option(value='French Southern Territories') French Southern Territories
                            option(value='Gabon') Gabon
                            option(value='Gambia') Gambia
                            option(value='Georgia') Georgia
                            option(value='Germany') Germany
                            option(value='Ghana') Ghana
                            option(value='Gibraltar') Gibraltar
                            option(value='Greece') Greece
                            option(value='Greenland') Greenland
                            option(value='Grenada') Grenada
                            option(value='Guadeloupe') Guadeloupe
                            option(value='Guam') Guam
                            option(value='Guatemala') Guatemala
                            option(value='Guinea') Guinea
                            option(value='Guinea-bissau') Guinea-bissau
                            option(value='Guyana') Guyana
                            option(value='Haiti') Haiti
                            option(value='Heard Island and Mcdonald Islands') Heard Island and Mcdonald Islands
                            option(value='Holy See (Vatican City State)') Holy See (Vatican City State)
                            option(value='Honduras') Honduras
                            option(value='Hong Kong') Hong Kong
                            option(value='Hungary') Hungary
                            option(value='Iceland') Iceland
                            option(value='India') India
                            option(value='Indonesia') Indonesia
                            option(value='Iran, Islamic Republic of') Iran, Islamic Republic of
                            option(value='Iraq') Iraq
                            option(value='Ireland') Ireland
                            option(value='Israel') Israel
                            option(value='Italy') Italy
                            option(value='Jamaica') Jamaica
                            option(value='Japan') Japan
                            option(value='Jordan') Jordan
                            option(value='Kazakhstan') Kazakhstan
                            option(value='Kenya') Kenya
                            option(value='Kiribati') Kiribati
                            option(value="Korea, Democratic People's Republic of") Korea, Democratic People's Republic of
                            option(value='Korea, Republic of') Korea, Republic of
                            option(value='Kuwait') Kuwait
                            option(value='Kyrgyzstan') Kyrgyzstan
                            option(value="Lao People's Democratic Republic") Lao People's Democratic Republic
                            option(value='Latvia') Latvia
                            option(value='Lebanon') Lebanon
                            option(value='Lesotho') Lesotho
                            option(value='Liberia') Liberia
                            option(value='Libyan Arab Jamahiriya') Libyan Arab Jamahiriya
                            option(value='Liechtenstein') Liechtenstein
                            option(value='Lithuania') Lithuania
                            option(value='Luxembourg') Luxembourg
                            option(value='Macao') Macao
                            option(value='Macedonia, The Former Yugoslav Republic of') Macedonia, The Former Yugoslav Republic of
                            option(value='Madagascar') Madagascar
                            option(value='Malawi') Malawi
                            option(value='Malaysia') Malaysia
                            option(value='Maldives') Maldives
                            option(value='Mali') Mali
                            option(value='Malta') Malta
                            option(value='Marshall Islands') Marshall Islands
                            option(value='Martinique') Martinique
                            option(value='Mauritania') Mauritania
                            option(value='Mauritius') Mauritius
                            option(value='Mayotte') Mayotte
                            option(value='Mexico') Mexico
                            option(value='Micronesia, Federated States of') Micronesia, Federated States of
                            option(value='Moldova, Republic of') Moldova, Republic of
                            option(value='Monaco') Monaco
                            option(value='Mongolia') Mongolia
                            option(value='Montserrat') Montserrat
                            option(value='Morocco') Morocco
                            option(value='Mozambique') Mozambique
                            option(value='Myanmar') Myanmar
                            option(value='Namibia') Namibia
                            option(value='Nauru') Nauru
                            option(value='Nepal') Nepal
                            option(value='Netherlands') Netherlands
                            option(value='Netherlands Antilles') Netherlands Antilles
                            option(value='New Caledonia') New Caledonia
                            option(value='New Zealand') New Zealand
                            option(value='Nicaragua') Nicaragua
                            option(value='Niger') Niger
                            option(value='Nigeria') Nigeria
                            option(value='Niue') Niue
                            option(value='Norfolk Island') Norfolk Island
                            option(value='Northern Mariana Islands') Northern Mariana Islands
                            option(value='Norway') Norway
                            option(value='Oman') Oman
                            option(value='Pakistan') Pakistan
                            option(value='Palau') Palau
                            option(value='Palestinian Territory, Occupied') Palestinian Territory, Occupied
                            option(value='Panama') Panama
                            option(value='Papua New Guinea') Papua New Guinea
                            option(value='Paraguay') Paraguay
                            option(value='Peru') Peru
                            option(value='Philippines') Philippines
                            option(value='Pitcairn') Pitcairn
                            option(value='Poland') Poland
                            option(value='Portugal') Portugal
                            option(value='Puerto Rico') Puerto Rico
                            option(value='Qatar') Qatar
                            option(value='Reunion') Reunion
                            option(value='Romania') Romania
                            option(value='Russian Federation') Russian Federation
                            option(value='Rwanda') Rwanda
                            option(value='Saint Helena') Saint Helena
                            option(value='Saint Kitts and Nevis') Saint Kitts and Nevis
                            option(value='Saint Lucia') Saint Lucia
                            option(value='Saint Pierre and Miquelon') Saint Pierre and Miquelon
                            option(value='Saint Vincent and The Grenadines') Saint Vincent and The Grenadines
                            option(value='Samoa') Samoa
                            option(value='San Marino') San Marino
                            option(value='Sao Tome and Principe') Sao Tome and Principe
                            option(value='Saudi Arabia') Saudi Arabia
                            option(value='Senegal') Senegal
                            option(value='Serbia and Montenegro') Serbia and Montenegro
                            option(value='Seychelles') Seychelles
                            option(value='Sierra Leone') Sierra Leone
                            option(value='Singapore') Singapore
                            option(value='Slovakia') Slovakia
                            option(value='Slovenia') Slovenia
                            option(value='Solomon Islands') Solomon Islands
                            option(value='Somalia') Somalia
                            option(value='South Africa') South Africa
                            option(value='South Georgia and The South Sandwich Islands') South Georgia and The South Sandwich Islands
                            option(value='Spain') Spain
                            option(value='Sri Lanka') Sri Lanka
                            option(value='Sudan') Sudan
                            option(value='Suriname') Suriname
                            option(value='Svalbard and Jan Mayen') Svalbard and Jan Mayen
                            option(value='Swaziland') Swaziland
                            option(value='Sweden') Sweden
                            option(value='Switzerland') Switzerland
                            option(value='Syrian Arab Republic') Syrian Arab Republic
                            option(value='Taiwan') Taiwan
                            option(value='Tajikistan') Tajikistan
                            option(value='Tanzania, United Republic of') Tanzania, United Republic of
                            option(value='Thailand') Thailand
                            option(value='Timor-leste') Timor-leste
                            option(value='Togo') Togo
                            option(value='Tokelau') Tokelau
                            option(value='Tonga') Tonga
                            option(value='Trinidad and Tobago') Trinidad and Tobago
                            option(value='Tunisia') Tunisia
                            option(value='Turkey') Turkey
                            option(value='Turkmenistan') Turkmenistan
                            option(value='Turks and Caicos Islands') Turks and Caicos Islands
                            option(value='Tuvalu') Tuvalu
                            option(value='Uganda') Uganda
                            option(value='Ukraine') Ukraine
                            option(value='United Arab Emirates') United Arab Emirates
                            option(value='United Kingdom') United Kingdom
                            option(value='United States', selected='selected') United States
                            option(value='United States Minor Outlying Islands') United States Minor Outlying Islands
                            option(value='Uruguay') Uruguay
                            option(value='Uzbekistan') Uzbekistan
                            option(value='Vanuatu') Vanuatu
                            option(value='Venezuela') Venezuela
                            option(value='Viet Nam') Viet Nam
                            option(value='Virgin Islands, British') Virgin Islands, British
                            option(value='Virgin Islands, U.S.') Virgin Islands, U.S.
                            option(value='Wallis and Futuna') Wallis and Futuna
                            option(value='Western Sahara') Western Sahara
                            option(value='Yemen') Yemen
                            option(value='Zambia') Zambia
                            option(value='Zimbabwe') Zimbabwe
                    .input-holder.field-select
                      .field-element
                        .select-outer
                          select#13202f90522599d4a8ac1635bffd90d7-6(name='TWlsaXRhcnkgQWZmaWxpYXRpb246IE5vbmU=')
                            option(style='display:none;color: #002d64', value='', default='', disabled='', selected='') Military Affiliation: None
                            option(value='Dependent') Dependent
                            option(value='Servicemember') Servicemember
                            option(value='Spouse of Servicemember') Spouse of Servicemember
                            option(value='Veteran') Veteran
                    .input-holder.field-hidden
                      //- input#13202f90522599d4a8ac1635bffd90d7-7(type='hidden', name='c3RlcDM=', value='step3')
                    .input-holder.field-text
                      .field-element
                        input#13202f90522599d4a8ac1635bffd90d7-8.shortnice.form-input.required(type='text', name='Rmlyc3QgTmFtZQ==', value='', placeholder='First Name', data-label-inside='First Name')
                    .input-holder.field-text
                      .field-element
                        input#13202f90522599d4a8ac1635bffd90d7-9.shortnice.form-input.required(type='text', name='TGFzdCBOYW1l', value='', placeholder='Last Name', data-label-inside='Last Name')
                    .input-holder.field-text
                      .field-element
                        input#13202f90522599d4a8ac1635bffd90d7-10.shortnice.form-input.required.checknumericvalue(type='text', name='UGhvbmUgTnVtYmVy', value='', placeholder='Phone Number', data-label-inside='Phone Number')
                    .input-holder.field-text
                      .field-element
                        input#13202f90522599d4a8ac1635bffd90d7-11.shortnice.form-input.required(type='email', name='RW1haWw=', value='', placeholder='Email', data-label-inside='Email')
                    button.btn.submit-button.button_submit.dynamic-button.corners Request More Information
                    input(type='hidden', name='validation', value='Tzo4OiJzdGRDbGFzcyI6Mjp7czo2OiJmaWVsZHMiO2E6Nzp7czoxNDoiQXJlYSBvZiBTdHVkeSAiO086ODoic3RkQ2xhc3MiOjE6e3M6ODoicmVxdWlyZWQiO2I6MTt9czoxOToiUHJvZ3JhbSBvZiBJbnRlcmVzdCI7Tzo4OiJzdGRDbGFzcyI6MTp7czo4OiJyZXF1aXJlZCI7YjoxO31zOjc6IkNvdW50cnkiO086ODoic3RkQ2xhc3MiOjE6e3M6ODoicmVxdWlyZWQiO2I6MTt9czoxMDoiRmlyc3QgTmFtZSI7Tzo4OiJzdGRDbGFzcyI6MTp7czo4OiJyZXF1aXJlZCI7YjoxO31zOjk6Ikxhc3QgTmFtZSI7Tzo4OiJzdGRDbGFzcyI6MTp7czo4OiJyZXF1aXJlZCI7YjoxO31zOjEyOiJQaG9uZSBOdW1iZXIiO086ODoic3RkQ2xhc3MiOjE6e3M6ODoicmVxdWlyZWQiO2I6MTt9czo1OiJFbWFpbCI7Tzo4OiJzdGRDbGFzcyI6MTp7czo4OiJyZXF1aXJlZCI7YjoxO319czo3OiJmb3JtX2lkIjtzOjMyOiIxMzIwMmY5MDUyMjU5OWQ0YThhYzE2MzViZmZkOTBkNyI7fQ==')
                    input(type='hidden', name='thank-you-message', value='VGhhbmsgWW91IQ==')
                div(style='clear: both')
            #element-448.page-element.widget-container.page-element-type-headline.widget-headline
              .contents
                h1
                  p(style='text-align: left;  ')
                    font(color='#002d64') Request more information regarding programs, ways to pay and more.
            div
              #email-form-messagebox-wrapper-284.email-form-messagebox-wrapper(style='top: 0px; left: 0px;')
                .email-form-messagebox-header
                .email-form-messagebox
    script(src="/javascripts/instapage/lib.js")
    script.
      (function() {
        document.querySelectorAll('html').style.display = 'block'
      })()