extends ../../layout
 
block content
    div
        p Use Case: 
        ul
            li Prepopulate form with values from Marketo by using the _mkto_trk cookie
            li If Marketo returns a known lead, create a blank _mkto_trk hidden field on the Marketo forms only
            li If Marketo returns an anonymous lead, continue without creating a blank _mkto_trk hidden field on the form
    div
        h3 Native HTML Form
    form(name="prepop", method="post")
        div.input
            span.label First Name
            input(type="text", name="firstName")
        div.input
            span.label Last Name
            input(type="text", name="lastName")
        div.input
            span.label Email
            input(type="text", name="Email")
        div.input
            span.label Phone
            input(type="text", name="Phone")                                    

    div
        h3 Marketo Form - Multistepped (#{mktoConfig.formids.testFormId})
        form(id='mktoForm_' + mktoConfig.formids.testFormId)
        script.
            MktoForms2.loadForm("//app-ab16.marketo.com", globals.munchkin_id, globals.formid, function(form) {
                mktoLeads().getLeadsBy.Cookie(function(data){
                    mktoLeads().prepopForm(data);
                });
            });            
    script(type="text/javascript").
        //inject trk_cookie
        var createCookie = function(name, value, days) {
            var expires;
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString();
            }
            else {
                expires = "";
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }
        if (globals.nonProductionEnvironment()) {
            createCookie('_mkto_trk', 'id:946-FDM-410&token:_mch-localhost-1488140690143-80373');
        } else {
            createCookie('_mkto_trk', 'id:058-NIT-467&token:_mch-floridatechonline.com-1484068598556-54192');
        }
        
block scripts
    script(type="text/javascript").
        mktoLeads().getLeadsBy.Cookie(function(data){
            mktoLeads().prepopForm(data);
        });