extends ../layout

block content
    h4 liveagent test
    script(type='text/javascript', src='https://c.la1-c1-dfw.salesforceliveagent.com/content/g/js/35.0/deployment.js')
    script(type='text/javascript', src='/javascripts/salesforce/salesforce.js')
